/* Structure */

body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80%;
}

/* Top Navigation */

#topnav {
    display: flex;
    justify-content:space-between;
    border-bottom: 2px solid rgb(228, 228, 228);
    background-color: white;
    padding-bottom: 10px;
    position: fixed;
    width: 97%;
    height: 53px;
}

#topnav a {
    text-decoration: none;
}

#logo {
    height: 30px;
    position: fixed;
    top: 25px;
    margin-left: 40%;
}

.icons {
    width: 20px;
    padding-top: 10px;
}

#nav-in-nav {
    position: absolute;
    right: 0px;
}

#nav-in-nav .icons {
    padding: 10px 20px;
    padding-top: 20px;
}

.hide {
    display: none;
}

/* Main Content */

#main-content {
    padding-top: 70px;
    padding-bottom: 70px;
}

#name {
    text-align: center;
}

.posts {
    width: 80%;
    padding: 5px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}

.posts img {
    display: block;
    margin: auto;
    border-radius: 30px;
    width: 100%;
}

.posts a {
    text-decoration: none;
    color: black;
}

.posts p {
    color: rgb(80, 80, 80);
}

/* View Post */

.content {
    font-size: larger;
    color: #6C6C6C;
    padding: 15px;
    max-width: 40%;
}

.content h1,
.content h2, 
.content p,
.content a {
    font-weight: 500;
    text-align: left;
}

.content p {
    width: 70%
}

.tags {
    display: flex;
}

.tags p {
    background-color: #EFEFEF;
    margin-right: 10px;
    text-align: center;
    padding: 7px 5px;
    width: auto;
}

input {
    width: 200px;
    background-color: #EFEFEF;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    padding: 5px;
}

input::placeholder {
    color: #BBBBBB;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
}

.close {
    color: #4F4F4F;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 0px 5px;
}

.close:hover {
    color: black;
    cursor: pointer;
}

.hidden {
    display: none;
}

#view-post-box {
    background-color: white;
    padding: 10px 50px;
    font-weight: bold;
    width: 76%;
    margin: 20px 0%;
}

#view-post img {
    width: 100%
}

#are-you-sure {
    padding: 10px;
    background: white;
    width: 70%;
}

#ays-yes,
#ays-no {
    background-color: #4F4F4F;
    padding: 5px 20px;
    font-weight: bold;
    font-size: small;
    color: white;
    display: inline-block;
}

#ays-yes:hover,
#ays-no:hover {
    background-color: #707070;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.modal {
    overflow-y: scroll;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: auto;
    top: 5%;
    width: 90%;
    max-height: 80%;
    box-shadow: #6a6a6a 0px 0px 900px;
}

#post-comment {
    margin: 5px;
    background-color: #4F4F4F;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
}

#post-comment:hover {
    background-color: #707070;
}

/* Edit Form */

#form-box {
    background-color: white;
    padding: 10px 50px;
    font-weight: bold;
    width: 76%;
    margin: 20px 0%;
}

#photo h1,
#description h1 {
    color: #6C6C6C;
    text-align: left;
    font-weight: 500;
}

#description input[type="text"] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    padding: 10px;
    background-color: #EFEFEF;
    border: 1px solid #BBBBBB;
    border-radius: 7px;
}

#description input[type="text"]::placeholder {
    color: #BEBEBE;
}

#post-button {
    display: block;
    margin: 15px auto;
    background-color: #4F4F4F;
    color: white;
    border: none;
    font-size: larger;
    font-weight: bold;
    padding: 0px 20px;
}

/* Main Footer */

#main-footer {
    display: flex;
    justify-content: center;
    border-top: 2px solid rgb(228, 228, 228);
    background-color: white;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0px;
    width: 97%;
}

#main-footer a {
    text-decoration: none;
}

#nav-in-nav-footer .icons {
    padding: 10px 20px;
    padding-top: 20px;
}

/* Media Query */

@media only screen and (min-width: 900px) {
    #search {
        padding-top: 5px;
    }

    #topnav {
        width: 99%;
    }

    #nav-in-nav.hide {
        display: flex;
    }

    #logo {
        margin-left: 45%;
        height: 30px;
        position: fixed;
        top: 13px;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }

    .posts {
        width: 24%;
        margin-left: 5%;
        margin-right: 2%;
    }

    
    #main-footer {
        display: none;
    }

    #view-post img {
        width: 50%
    }

    #view-post-box {
        width: 80%;
        margin: 20px 7%;
    }

    #form-box {
        width: 40%;
        margin: 20px 30%;
    }

    #are-you-sure {
        margin: 80px 15%;
        width: 40%;
    }
}